/* 
Fonts
1 | Roboto Black font-size: 48px;
2 | Roboto Regular font-size: 21px;
3 | Roboto Black font-size: 36px;

Colors 
#23424A 
#87629A
#136C72
#3A3A3A
#38CFD9
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;

  width: 72%;
  /* background-color: red; */
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;

  /* height: 100vh; */
}
.container {
  padding: 80px 50px;
}

/* Hero Section */
.hero {
  background-color: #23424a;
}
.hero-content {
  /* padding-top: ; */
  width: 90%;

  color: #fff;
}
h1 {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
  font-size: 21px;
}

.hero-content p {
  margin-bottom: 50px;
}

/* Hero-btn */

.btn {
  text-decoration: none;
  color: #23424a;
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50px;
  border: none;
  background-color: #38cfd9;
}
/* flex--item */
.flex--item {
  display: flex;
  gap: 10px;
}
.content {
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
}
h2 {
  margin-bottom: 20px;
}

.section {
  color: #3a3a3a;
  background-color: #fff;
}
.section h2 {
  color: #87629a;
}

.last--item {
  background-color: #136c72;
}
